*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1em;
}

.container{
    display: grid;
    grid-template-columns: (8,1fr);
    grid-template-rows: (8,1fr);
    gap: 20px;
    border: 1px solid red;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.pic-1{
    grid-area: 1/1/2/5;
}
.pic-2{
    grid-area: 1/5/3/9;
}

.pic-3{
    grid-area: 2/1/2/3;
}

.pic-4{
    grid-area: 2/3/2/5;
}

.pic-5{
    grid-area: 3/1/4/5;
}

.pic-6{
    grid-area: 3/5/4/9 ;
}





